header {
    height: 181px;
    padding-top: 90px;
    box-sizing: border-box;
    background-color: #28979b;
    text-align: center;
}

main {
    max-width: 80rem;
    margin: auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

article {
    width: 50rem;
    height: 600px;
    float: left;
    padding-top: 300px;
    box-sizing: border-box;
    background-color: #9b8a28;
    text-align: center;
}

aside {
    width: 316px;
    height: 600px;
    float: right;
    padding-top: 300px;
    box-sizing: border-box;
    background-color: #289b3b;
    text-align: center;
}

footer {
    height: 334px;
    padding-top: 160px;
    box-sizing: border-box;
    background-color: #9b2828;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }